name: A workflow to automate downloads graph and globe updates

on:
  schedule:
    - cron: '0 1 1 * *'
  workflow_dispatch:
    inputs:
      runMessage:
        description: 'Run Message'
        required: true
        default: 'Testing'

jobs:
  graph:
    name: Downloads Graph Update
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Execute Python script
        env:
          ACCOUNT_INFO: ${{ secrets.CLIENT_SECRETS }}
        run: |
          python data/download_update.py
      - name: Push changes to GitHub
        run: |
          git config --local user.email "bzlbzlbzl2000iscool@gmail.com"
          git config --local user.name "Bzlbzlbzl"
          git pull
          git add data/download_data.json
          git commit -m "Updated downloads graph for last month"
          git push origin master
  globe:
    name: Downloads Globe Update
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Execute Python script
        env:
          ACCOUNT_INFO: ${{ secrets.CLIENT_SECRETS }}
        run: |
          python data/globe_update.py
      - name: Push changes to GitHub
        run: |
          git config --local user.email "bzlbzlbzl2000iscool@gmail.com"
          git config --local user.name "Bzlbzlbzl"
          git pull
          git add data/globe_log.json data/down_by_country.csv
          git commit -m "Updated downloads globe for last month"
          git push origin master
